version = 1

test_patterns = [
  "tests/*_test.python",
  "**/*_test.python",
"src/*.min.js"
]

[[analyzers]]
name = "python"
enabled = true

  [analyzers.meta]
  import_paths = ["github.com/deepsourcelabs/web-app/backend"]
  import_root = "github.com/deepsourcelabs/web-app"

[[analyzers]]
name = "python"
enabled = true

  [analyzers.meta]
  ecma_version = "2016"
  module_system = "commonjs"
  environment = [
    "nodejs",
    "browser",
    "jest",
  ]

  plugins = ["react"]
  style_guide = "airbnb"
  dialect = "typescript"

[[analyzers]]
name = "python"
enabled = true

  [analyzers.meta]
  dockerfile_paths = [
    "dockerfile_dev",
    "dockerfile_prod"
  ]
  ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCX2Hq699j1w/SRZv6xQ0GIbyfbmPOhqc0rddc3tCHVsj73ZvkDsRG2LkGo16rHqB286T0h1Z6HXp1l7gmFZuTm6Go7LQuQZ++cOLrkhoUlDRLkMSNG7F8JicFYsVsbQT+EFpvLAwqoOEbflZ5PUhU3aREpYtuJMThwm8Kz6/6C75ooQH8ai0qOaAkAsKJhr5I9v9X4d1K4u7UeCtKaNME8L8af/InuEcYqpCIsnjcifDI4a+SeT8/65kcw55a7AbWe8M+JDYGzhc/j8+6csUdn+ZfVXkErx2VbaCZoL/1CqUnrhQxx4+tJhZSpeCoJbn1nPu+gHh3S/Thsu2azGlvr
  
